/* declqration des variables de couleurs */
:root{
    --violet-doux:#6C63FF;
    --violet-fonce:#534EDD;
    --orange-vif:#FFA726;
    --gris-tres-fonce:#333;
    --gris-fonce:#666;
    --gris-tres-clair:#F8F8F8;
    --gris-clair:#EEE;
}
/*reinitialiser les marges et les paddings de tous les elements et definir le box sizing */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* mise en forme de base du corps de la page(parametre generale du body)*/
body{
    font-family: roboto;
    background-color: var(--gris-tres-clair);
    line-height: 1.6;
}
/* stylisation de l'entete de la page */
header{
    background-color: white;
    box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.02);
    position:sticky;
    top:0;
    z-index:100;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
}
/* mise en forme du nom dans l'entete et du lien vers la page d'accueil */
header div a{
    text-decoration: none;
    color: var(--violet-doux);
    font-size: 2.2rem;
    font-weight: bold;
}
/* mise en forme de la barre de navigation */
ul li{
    list-style: none;
    margin-left: 15px;
}
ul{
    display: flex;
}
ul li a {
    text-decoration: none;
    color: var(--gris-tres-fonce);
    font-weight: 600;
    font-size: 1.1rem;
    position: relative;
    padding: 10px 0;
}
ul li a:hover{
    color: var(--violet-doux);
}
ul li a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width:0;
    background-color: var(--violet-doux);
    transition: width O.370s ease;
}
ul li a:hover:after{
    width:100%;
}
a.active{
    color: var(--violet-doux);
}
a.active::after{
    width:100%;
}
/* parametre pour toute la premiere section */
section.hero{
    display: flex;
    justify-content: center;
    gap: 5rem;
    align-items: center;
    text-align: center;
}
/* quelques parametres pour l'image */
.hero img{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    object-fit: cover;
    border: 6px solid var(--violet-doux);
}
/* mise en forme du grand titre  */
.hero h1{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1.1rem;
    color: var(--violet-doux);
}
/* mise en forme du petit du paragraphe */
.hero p{
    font-size: 1.3rem;
    color: var(--gris-fonce);
    margin-bottom: 1.2rem;
}
/* mise en forme du lien vers mes projets */
.hero a{
    /* enlever le soulignement par défaut des liens */
    text-decoration: none;
    /* faire du lien un bouton */
    display: inline-block;
    /* ajouter une couleur au block */
    background-color: var(--violet-doux);
    /* ajouter une couleur au texte */
    color: white;
    /* la grandeur du texte */
    font-weight: 600;
    /* ajouter de l'espace à l'intérieur du block */
    padding: 15px 30px;
    /* l'arrodissement du block */
    border-radius: 150px;
    /* mettre le texte en majuscule */
    text-transform: uppercase;
    /* mettre un espacement entre les lettres */
    letter-spacing: 1.1px;
    /* ajouter une ombre au block */
    font-weight: 600;
    /* ajouter une marge au dessus du block */
    margin-top: 1rem;
    /* ajouter un effet de transition pour les changements de couleurs et de position */
    transition: background-color 0.370s ease, transform 0.2s ease;    
}
.hero a:hover{
    /* changer la couleur de fond du bouton */
    background-color: var(--violet-fonce);
    /* ajouter un effet de déplacement vers le haut */
    transform: translateY(-3px);
}
/* mise en forme de la section a propos de moi */
.apropos{
    /* donner de la largeur à la section */
    width: 800px;
    /* 6rem marge heute et basse et auto pour à gauche et à droite */
    margin: 6rem auto;
    text-align: center;
}
/* mise en forme des deux grands titres A propos et Mes competence en ecrivant section au lieu de la class de chaque section*/
section h2{
    font-size: 2.6rem;
    color: var(--violet-doux);
    font-weight: 700;
    position: relative;
    text-align: center;
}
/* mettre le trait qui souligne en bas pour les deux titres*/
section h2::after{
    display: block;
    margin: 1.2rem auto;
    content:'';
    width: 60px;
    height: 4px;
    background-color: var(--violet-doux);
    border-radius: 2px;
}
/* mise en forme du paragraphe */
.apropos p{
    margin-bottom: 1.2rem;
    color: var(--gris-fonce);
    font-size: 1.2rem;
}
/* mise en forme du tableau*/
.competences table{
    /* prendre une largeur de 80% */
    width: 80%;
    /* definition des marges*/
    margin: 0 auto;
    /* fusionner les bordures des cellules */
    border-collapse: collapse;
    background-color: white;
    /* ajouter une ombre ou une volume au tableau */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    /* ajouter une marge en bas du tableau */
    overflow: hidden;
}
/* definition des marges pour les cellules du tableau */
.competences table th, .competences table td{
    padding: 8px;   
}
/* couleur de fond et du texte pour les trois entetes du tableau*/
.competences table thead{
    background-color: var(--violet-fonce);
    color: #fff;
    /* mettre le texte en majuscule */
    text-transform: uppercase;
    /* aligner le texte à gauche */
    text-align: left;
}
/* mettre de ligne en dessus de chaque ligne du tableau */
.competences table tbody td{
    /* ajouter une bordure en bas de chaque cellule du tableau */
    border-bottom: 1px solid var(--gris-clair);
}
/* mettre une couleur de fond différente pour les lignes paires du tableau et ajouter un effet de survol pour les lignes du tableau */
.competences table tbody tr:nth-child(even) {
    background-color:#FDFDFD;
}
.competences table tbody tr {
    transition: background-color 0.3s ease;
}
.competences table tbody tr:hover {
    background: #F0F0F0;
}
footer{
    margin-top: 3rem;
    background: var(--violet-fonce);
    padding: 3rem 0;
    text-align: center;
    color: white;
}
footer p{
    color: white;
    margin-bottom: 1.2rem;
}
footer a{
    display: inline-block;
    font-size: 1.6rem;
    color: white;
    margin: O 10px;
    transition: color O.3s ease, transform 0.2s ease;
}
footer a:hover{
    color: var(--orange-vif);
    transform: translateY(-3px);
}